<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {{range .result}}
      {{.ID}}) {{.Title}} ----------> {{.Author}}
    <form method="post" action="/deleteBooks">
        <input type="hidden" name="id" value="{{.ID}}">
        <input type="submit" value="delete" name="delete">
    </form>
    <form method="get" action="/updateBooks">
        <input type="hidden" name="id" value="{{.ID}}">
        <input type="submit" value="update" name="update">
    </form>
    <br>
    {{end}}

</body>
</html>
